<html>
    <head>
        <title>
            "Hello html"
        </title>
    </head>
    <body>
        <h1>
            "base html"
        </h1>
        <a href="/user/login">login</a> <br>
        <a href="/user/logout">logout</a> <br>
        <a href="/user/register">register</a> <br>
        <a href="/user/showprofile">show profile</a> <br>
        <a href="/course/course_list">course list</a> <br>
        <a href="/course/departman_list">departman list</a> <br>
        <hr>
        {% block firstblock %}
        {% endblock %}
    </body>
</html>