{% extends 'base.html' %}

{% block firstblock %}
    <h1>show profile</h1>
    <hr>
    <form method="POST" action="/user/edit_profile/">
        {% csrf_token %}
        Username: <b>{{uname}}</b> 
        <br>
        Firstname: <input type="text" value={{fname}} name="firstname" id="fname">
        <br>
        Lastname: <input type="text" value={{lname}} name="lastname" id="lname">
        <br>
        Email: <input type="text" value={{email}} name="email" id="email">
        <br>
        <input type="submit" value="save">

    </form>
{% endblock %}